################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
/TekGarasjeintroTilC/Debug
/TekGarasjeintroTilC/SwitchCase/Debug
/TekGarasjeintroTilC/Tabeller/Debug
/TekGarasjeintroTilC/.vs/HalloVerden/v15/Browse.VC.opendb
/TekGarasjeintroTilC/objektorientering.del4/Debug
